<h1>Hello Anon</h1>

<a href="/login">Login</a>
<a href="/register">Register</a>

<h2>Recently Added</h2>
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>"><img height="150" width="100" src="<%= book.coverImagePath %>"></a>
    <% }) %>
</div>